.popup-partner__text_type_top {
    margin: 40px 40px 15px;
}

@media screen and (max-width: 1023px) {
    .popup-partner__text_type_top {
        margin: 30px 30px 15px;
    }
}

@media screen and (max-width: 500px) {
    .popup-partner__text_type_top {
        margin: 30px 15px 15px;
    }
}