.popup-partner__website-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 40px;
    margin-left: 0px;
    cursor: pointer;
    border-radius: 50px;
    padding: 20px 28px;
    text-decoration: none;
   }

@media screen and (max-width: 1023px) {
    .popup-partner__website-link {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 500px) {
    .popup-partner__website-link {
        margin-left: 15px;
        align-self: flex-start;
    }
}
